<!DOCTYPE html>
<html>
<head>
    <title>Gawk</title>
    <meta charset="utf-8">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://rawgit.com/gka/d3-jetpack/master/d3-jetpack.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script src="scripts/jquery-2.1.1.min.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
